@keyframes knight_line {
    0% {right: 0%}
    100% {right: 100%}
}


@keyframes pulseSmallGlow {
    0% { filter: drop-shadow(0 0 0.5vw #F970A7); }
    50% { filter: drop-shadow(0 0 1.5vw #F970A7); }
    100% { filter: drop-shadow(0 0 0.5vw #F970A7); }
}

@keyframes pulseGlow {
    0% { filter: drop-shadow(0 0 0.5vw #F970A7); }
    50% { filter: drop-shadow(0 0 1.5vw #F970A7); }
    100% { filter: drop-shadow(0 0 0.5vw #F970A7); }
}

@keyframes pulsestarGlow {
    0% { filter: drop-shadow(0 0 0.5vw #F970A7); }
    50% { filter: drop-shadow(0 0 5.5vw #F970A7); }
    100% { filter: drop-shadow(0 0 0.5vw #F970A7); }
}

@keyframes switchOstro {
    0% { opacity: 1; transform: scale(1); }
    33.3% { opacity: 0; transform: scale(1.1); }
    66.6% { opacity: 0; transform: scale(0.9); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes switchMiniOstro {
    0% { opacity: 1; transform: scale(1); }
    33.3% { opacity: 0; transform: scale(1.1); }
    66.6% { opacity: 0; transform: scale(0.9); }
    100% { opacity: 1; transform: scale(1); }
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }
}


  @keyframes fadeOutBlur {
    0% {
        opacity: 1;
        filter: blur(0px);
    }
    100% {
        opacity: 0;
        filter: blur(15px);
    }
}

@keyframes fadeInClear {
    0% {
        opacity: 0;
        filter: blur(15px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}
  