*{ box-sizing: border-box;}

html, body {width:100vw; overflow-x:hidden; height: 100%;}


body{
  position: relative;
  max-width: 100%;
  display: block;
  background-color: rgb(255, 255, 255);
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;  
  flex-direction: column; 
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0vh;
} 

.block_1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }

.block_1_gif {
    position: relative;
    width: 100vw;
    height: 73vh;
    background-color: #ffffff;
}

.first {
    z-index: 20;
    position: relative;
    width: 100vw;
    height: 73vh;
    object-fit: cover;
}

.block_1_line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 27vh;
    background-color: rgb(0, 0, 0);
    z-index: 100;
}

.knight_line {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 80%;
    width:250%;
    top: 0vh;
    gap: 4rem;
    animation: knight_line 15s linear infinite;
}

.knight_line_svg {
    min-width: 20vh;
    position: relative;
    fill: black;
    stroke: white;
    stroke-width: 10;
    transition: fill 0.2s ease, stroke 0.2s ease;
}

.knight_line_svg:hover {
    fill: white;
    stroke: #F970A7;
    animation: pulseSmallGlow 3s infinite alternate ease-in-out;
}


.block_2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: last baseline;
}

.text_2_left{
    z-index: 5;
    top: -6vh;
    left: -7vw;
    width: 30vw;
    position: absolute;
    font-family: 'Wolgadeutsche'; 
    font-size: 9vw;
    line-height: 0.6;
}

.text_2_right {
    z-index: 5;
    top: -6vh;
    right: -7vw;
    width: 30vw;
    position: absolute;
    font-family: 'Wolgadeutsche'; 
    font-size: 9vw;
    line-height: 0.6;
    rotate: 180deg;
}

.text_2_left .text_2_right{
    display: inline-block;
    cursor: pointer;
}

.bukva {
    display: inline-block;
    position: relative;
    transition: transform 4.5s ease-in-out; 
    cursor: pointer;
    letter-spacing: -0.05em;
}

.knight {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.1s ease-in-out;
}

.bw {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh; 
    background-color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 2;
}


.knight_bw {
    position: relative;
    overflow: visible; 
}

.knight_svg {
    transition: filter 1.5s ease-in-out;
}

.knight_svg:hover {
    animation: pulseGlow 1.5s infinite alternate ease-in-out;
}

@keyframes pulseGlow {
    0% {
        filter: drop-shadow(0 0 0vw #F970A7);
    }
    100% {
        filter: drop-shadow(0 0 1vw #F970A7);
    }
}

.pink {
    width: 100vw;
    height: 100vh; 
    font-size: 10vw;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

.word {
    font-family: 'Coolvetica'; 
    color: white;
    font-size: 3.3vw;
    z-index: 1000;
    position: absolute;
    cursor: pointer;
    text-shadow: 0 0 0.6vw rgba(255, 255, 255, 1);
    transition: opacity 1s ease, filter 1.5s ease;
}

#word1 { top: 30%; left: 75%; }
#word2 { top: 40%; left: 10%; }
#word3 { top: 75%; left: 80%; }


.light_gif {
    z-index: 999;
    position: absolute;
    width: 100vw;
    object-fit: cover;
    scale: 130%;
    left: 1vw;
}
.swords {
    z-index: 998;
    position: absolute;
    top: -15vh;
}

.sword_svg {
    position: relative;
    top: 25vh;
    left: 25vw;
    width: 8vw;
    stroke: rgb(0, 0, 0);
    stroke-width: 2.8;
    transition: fill 0.2s ease, stroke 0.2s ease;
}



  .s1:hover {
    transform: translate(1vw, 3vw);
  }
  .s2:hover {
    transform: translate(1vw, 3vw);
  }
  .s3:hover {
    transform: translate(1vw, 3vw);
  }
  .s4:hover {
    transform: translate(1vw, 3vw);
  }
  .s5:hover {
    transform: translate(1vw, 3vw);
  }

  
.s1 {
    position: absolute;
    rotate: 75deg;
    left: -24vw;
    top: 3vh;
    transition: transform 0.3s ease-out;
}

.s2 {
    position: absolute;
    rotate: 68deg;
    left: -32vw;
    top: 20vh;
    transition: transform 0.3s ease-out;
}

.s3 {
    position: absolute;
    rotate: 53deg;
    left: -30vw;
    top: 40vh;
    transition: transform 0.3s ease-out;
}

.s4 {
    position: absolute;
    rotate: -46deg;
    left: 19vw;
    top: 37vh;
    transition: transform 0.3s ease-out;
}

.s5 {
    position: absolute;
    rotate: -63deg;
    left: 20vw;
    top: 15vh;
    transition: transform 0.3s ease-out;
}
    
.sword_svg:hover path{
    fill: rgb(0, 0, 0);
}

.knight_bw_image {
    z-index: 200;
    position: relative;
    width: 90vh;
    height: 90vh;
    bottom: 2vh;
}

.knight_svg {
    cursor: pointer;
}

.knight_svg,
.knight.bw,
.knight.pink, 
.shine {
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}


.block_3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(175, 175, 175);
    font-family: 'wolgadeutsche';
    font-size: 6rem;
    color: white;
  } 

.block_3_black {
    position: relative;
    height: 70vh;
    background-color: black;
    line-height: 5.5rem;
}

.block_3_star {
    background-color: rgb(0, 0, 0);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 15vw; 
}

.star_3 {
    width: 45vw;
}

.star_3 path {
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
}

.micro_star_3 {
    width: 5vw;
    position: absolute; 
   
}

.left {
    left: 10vw;
    top: 33vh;
}

.right {
    right: 10vw;
    top: 33vh;
}

.block_3_text {
    height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white {
    height: 30vh;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.block_4 {
    position: relative;
    width: 100vw;
    max-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
  }

.block_4_top {
    display: flex;
    position: relative;
    width: 100vw;
    min-height: 73vh;
    max-height: 73vh;
}

.forms {
    position: relative;
    width: 40vw;
    background-color: rgb(151, 151, 151); 
}

.hand {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    width: 60vw; 
}

.closed {
    position: relative;
    display: flex;
    justify-content: left;
    max-width: 60vw;
    opacity: 1;
    z-index: 2;
}

.open {
    position: relative;
    display: flex;
    justify-content: left;
    max-width: 60vw;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}


.hand_closed {
    position: absolute;
    width: 70vh;
    left: -25vw; 
    top: 15vh;
}

.hand_open {
    position: absolute;
    rotate: -3deg;
    width: 80vh;
    left: 7vw;
    top: 5vh;
}
.hand_closed_svg {
    cursor: pointer;
}
.hand_open_svg {
    cursor: pointer;
}


.block_4_bottom {
    position: relative;
    width: 100vw;
    max-height: 27vh;
    min-height: 2vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Wolgadeutsche'; 
    font-size: min(15.5vw, 29vh);
    z-index: 99;
}

.block_5 {
    position: relative;
    width: 100vw;
    height: 27vw;
    background-color: rgb(0, 0, 0);
    font-family: 'Coolvetica'; 
    color: white;
    z-index: 98;
  }

.bottom_text {
    position: absolute;
    width: 100vw;
    height: 7vw;
    background-color: rgb(0, 0, 0);
    font-size: 3.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, #000000, #ffffff, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 3s linear infinite;
}

.bottom_bottom_text {
    top: 6vw;
    align-items: first baseline;
    position: absolute;
    width: 100vw;
    height: 18vh;
    background-color: rgb(0, 0, 0);
}

.b_b_t_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3vw; 
}

.text {
    font-size: 6vw; 
}

.text2 {
    font-family: 'Wolgadeutsche';
    font-size: 6vw; 
}


