*{ box-sizing: border-box;}

html, body {width:100vw; overflow-x:hidden; height: 100%;}


body{
  position: relative;
  max-width: 100%;
  display: block;
  background-color: rgb(255, 255, 255);
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;  
  flex-direction: column; 
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0vh;
} 

.block_1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }

.block_1_gif {
    position: relative;
    width: 100vw;
    height: 70vh;
    background-color: rgb(139, 139, 139);
}
.block_1_line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    background-color: rgb(0, 0, 0);
}

.knight_line {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 80%;
    width:250%;
    gap: 4rem;
    animation: knight_line 15s linear infinite;
}

@keyframes knight_line {
    0% {right: 0%}
    100% {right: 100%}
}

.knight_line_svg {
    min-width: 23vh;
    position: relative;
    fill: black;
    stroke: white;
    stroke-width: 10;
    transition: fill 0.2s ease, stroke 0.2s ease;
}

.knight_line_svg:hover {
    fill: white;
    stroke: #F970A7;
}


.block_2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: last baseline;
}

.text_2_left{
    top: -6vh;
    left: -7vw;
    width: 30vw;
    position: absolute;
    font-family: 'Wolgadeutsche'; 
    font-size: 15vh;
    line-height: 0.6;
}

.text_2_right {
    top: -6vh;
    right: -7vw;
    width: 30vw;
    position: absolute;
    font-family: 'Wolgadeutsche'; 
    font-size: 15vh;
    line-height: 0.6;
    rotate: 180deg;
}

.text_2_left .text_2_right{
    display: inline-block;
    cursor: pointer;
}

.letter {
    display: inline-block;
    position: relative;
    transition: transform 4.5s ease-in-out; /* Медленный возврат */
    cursor: pointer;
    letter-spacing: -0.05em;
}

.knight {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.1s ease-in-out;
}

.bw {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh; 
    background-color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 2;
}

.pink {
    width: 100vw;
    height: 100vh; 
    background-color: rgb(237, 172, 172);
    font-size: 10vw;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}


.knight_bw_image {
    position: relative;
    width: 90vh;
    height: 90vh;
    bottom: 2vh;
    left: 1vw; 
}

.knight_svg {
    cursor: pointer;
}


.block_3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(175, 175, 175);
  } 


.block_4 {
    position: relative;
    width: 100vw;
    max-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
  }

.block_4_top {
    display: flex;
    position: relative;
    width: 100vw;
    min-height: 73vh;
    max-height: 73vh;
}

.forms {
    position: relative;
    width: 40vw;
    background-color: rgb(151, 151, 151); 
}

.hand {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    width: 60vw; 
}

.closed {
    position: relative;
    display: flex;
    justify-content: left;
    max-width: 60vw;
    opacity: 1;
    z-index: 2;
}

.open {
    position: relative;
    display: flex;
    justify-content: left;
    max-width: 60vw;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}


.hand_closed {
    position: absolute;
    width: 70vh;
    left: -25vw; 
    top: 15vh;
}

.hand_open {
    position: absolute;
    rotate: -3deg;
    width: 80vh;
    left: 7vw;
    top: 5vh;
}
.hand_closed_svg {
    cursor: pointer;
}
.hand_open_svg {
    cursor: pointer;
}


.block_4_bottom {
    position: relative;
    width: 100vw;
    max-height: 27vh;
    min-height: 2vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Wolgadeutsche'; 
    font-size: min(15.5vw, 29vh);
    z-index: 99;
}

.block_5 {
    position: relative;
    width: 100vw;
    height: 27vw;
    background-color: rgb(64, 64, 64);
    font-family: 'Coolvetica'; 
    color: white;
    z-index: 98;
  }

.bottom_text {
    position: absolute;
    width: 100vw;
    height: 7vw;
    background-color: rgb(0, 0, 0);
    font-size: 3.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom_bottom_text {
    top: 6vw;
    align-items: first baseline;
    position: absolute;
    width: 100vw;
    height: 18vh;
    background-color: rgb(0, 0, 0);
}

.b_b_t_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3vw; 
}

.text {
    font-size: 6vw; 
}

.text2 {
    font-family: 'Wolgadeutsche';
    font-size: 6vw; 
}